body, html {
    height: 100%;
    scroll-behavior: smooth;
  }

.parallax{
    background-image:"./img/shutterstock_163180895.jpg";
    height: 500px;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;;
}